include lunapy/README.md
include lunapy/requirements.txt
include lunapy/*.py
include lunapy/*.cpp
include lunapy/CMakeLists.txt
recursive-include src *.h *.cpp
recursive-include tools *
include CMakeLists.txt
